@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background: lightgray;
    font-family: 'Source Sans Pro';
}

.date {
    font-family: 'Source Sans Pro';
}

.newspaper-container {
    width: 700px;
    border: 5px #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #a7a7a7;
    padding: 20px;
    margin: auto; /*this makes the article stay in the middle of the webpage!!*/
    margin-top: 50px;
    background: white;
}

.more-articles {
    /* display: inline-block; */
    /* width: 300px; */
    /*font-size: smaller;*/
    margin: 0;
    padding: 0;
    display: flex;
}

.more-articles img {
    /*padding: 10px;
    margin: 10px;*/
}

section {
    display: inline;
    padding: 10px;
    margin: 10px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main img {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
}

h2 {
    font-family: Roboto Slab;
}

h4 {
    font-family: sans-serif;
}

h5 {
    font-family: Abril Fatface;
    font-weight: 900;
    color: red;
}

nav {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
}

ul {
    /*list-style-type: none; to get rid of bullets*/
    padding: 0;
    /*margin: 0;*/
    /*text-align: center;*/
    border-top: 1px;
    border-bottom: 1px;
  }

li {
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    /*padding-left: 0.5em;
    padding-right: 0.5em;*/
    margin: 0 5px;

  }

a {
    text-decoration: none;
    color: #777;
}

/* main { */
    /* background: lightgrey; */
/* } */

p {
    font-family: Source Sans Pro;
    text-align: justify;
    padding: 0px 16px;
}
